#movie-recommender-system {
    font-family: monospace;
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-size: 30px;
}
.stApp.streamlit-wide {
    background-image: linear-gradient(rgba(0, 0, 0, 0.19),rgba(0, 0, 0, 0.3)), url("https://images.unsplash.com/photo-1509347528160-9a9e33742cdb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8bW92aWUlMjBwb3N0ZXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;

}


.st.title {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
}

h1, h2, h3, h4, h5, h6 {
    color: ghostwhite;
    text-align: center;
    font-size: 48px;
    margin-top: 50px;
    margin-bottom: 50px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;
    color: ghostwhite;
}

.movie-poster {
    margin-bottom: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.movie-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.movie-details {
    font-size: 16px;
    margin-bottom: 10px;
    color: #999;
}

.movie-rating {
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
}

.movie-reviews {
    font-size: 18px;
    margin-bottom: 20px;
    color: whitesmoke;
}

.movie-trailer {
    margin-bottom: 20px;
    size : 100px;
}

table.reviews-table td:nth-child(3) {
    color: #fff;
}


@media only screen and (max-width: 768px) {
  /* adjust styles for mobile screens */
  h1, h2, h3, h4, h5, h6 {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  p {
    font-size: 16px;
  }

  .movie-title {
    font-size: 18px;
  }

  .movie-details {
    font-size: 14px;
  }

  .movie-rating {
    font-size: 16px;
  }

  .movie-reviews {
    font-size: 16px;
  }

  .movie-poster {
    max-width: 100%;
    height: auto;
  }
}

