
#movie-recommender-system {
    font-family: monospace;
    text-align: center;
    font-weight: bold;
    color: navajowhite;
    font-size: 30px;
}

.stApp.streamlit-wide  {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url("eri.jpg");
    background-size: cover;
    color: navajowhite;
}
